
 @media (max-width:991px)
 {
    .carousel-inner .carousel-item h2
    {
        font-size: 30px !important;
        margin-top: 10px;
    }
    .notice .notice-dark-theme .btn
    {
        margin:0 auto;
    }
 }
 @media (max-width:521px)
 {
    
 }